@import './vendor/reset.scss';

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font: $min-font-size $base-font-family;
  cursor: default;
}

body {
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
