$white: #FFFFFF;
$black: #000000;
$cod-gray: #1A1A1A;
$diesel: #110000;
$golden-fizz: #FFFA3D;
$green-yellow: #B3F23A;
$inch-worm: #A4ED19;
$geyser: #D8DDE3;
$mischka: #CACEDB;
$cerise: #DB358F;
$jazzberry-jam: #A1095C;
$alabaster: #F7F7F7;
$fun-green: #036A22;
